body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: 50px;
    /*border-style: solid;
    padding: 10px 5px;
    border-color: green;*/
}

h2 {
    color: #025157;
}

/*article {
    margin: 20px;
}*/

article>p {
    color: #343434;
}

p {
    color: #8b8b8bcc;
    font-family: Verdana;
    font-size: 20px;
}

button {
    color: #fff;
    background-color: #025157;
    
}

img {
    max-width: 1000px;
}

.header {
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;*/
    margin: 40px 20px 0;
    /* */
    font-size: 0;
}

li {
    display: inline;
    margin: 0 25px;
    color: #025157;
}

.header>* {
    /* Todos los hijos de la clase header, se le aplica el inline block */
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo>img {
    /*Todos los hijos que contenga logo pero que sean imagenes*/
    width: 15%;
}

.navbar {
    width: 70%;
    height: 45px;
    text-align: left;
    font-style: normal;
    font-family: sans-serif;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;

}

.actions>a {
    margin: 10px;
    color: #67b54b;
}

.actions>button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: 0px;
    border-radius: 5px;
}

.main {
    margin-top: 185px;
    text-align: center;
}

/*form {
    display: flex;
}*/

.publish {
    margin-left: 30px;
}

.publish h2 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish>form {
    display: flex;
    flex-direction: column;
}

.publish>form p {
    color: #025157;
    margin-top: 18px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatoryVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanatoryVideo img {
    width: 120px;
    margin-top: 10px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

/*
.ecommerce{
    display: flex;
    background-color: #a1d683;
    
}

.ecommerce-description{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 100px;
}

/*.ecommerce-brands{
    display: flex;
    flex-direction: column;
}

.ecommerce-description button{
    padding: 12px 14px;
    border: 0;
    border-radius: 5px;
}
.ecommerce-description img{
    width: 400px;
}
*/

.features{
    display: grid;
    /*grid-auto-columns: repeat(2,1fr);
    grid-auto-rows: repeat(2,330px);*/
    /*grid-auto-flow: column;*/
    grid-template: repeat(2,1fr) / repeat(2,1fr);   
    /*height: 660px;*/
}

iframe {
    display: flex;
    margin: auto;
}